BOT_TOKEN = mmmmm
CHANNEL_ID = 1111
ANNOUNCE_CHANNEL_ID = 11
TEST_CHANNEL_ID = 1111
MAIN_GUILD_ID = 1111
BACKGROUNDS_CHANNEL_ID = 111
MODERATION_CHANNEL_ID = 1111
STAFF_CHANNEL_ID = 1111
BUILDS_CHANNEL_ID = 111111111
STAFF_ANNOUNCE_CHANNEL_ID = 1488618798624805014
MERCADO_CHANNEL_ID = 1480646545761374218